src/main/app/json_xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="json_xmlFlow">
        <ftp:inbound-endpoint host="localhost" port="21" path="/Input" user="muleuser" password="test" responseTimeout="10000" doc:name="FTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <ftp:outbound-endpoint host="localhost" port="21" path="/Output" user="muleuser" password="test" responseTimeout="10000" doc:name="FTP"/>
    </flow>
</mule>
